body {
    background: url("../images/bg.jpg");
}

.task:hover {
    background: #007bff;
    color: #fff;
    cursor: pointer;
}

.task.active {
    text-decoration: line-through;
}

.task.new {
    background: #eee;
}

.pointer {
    cursor: pointer !important;
}

div#task-list {
    min-height: 100px;
    height: 300px;
    overflow-y: auto;
}

.list-group-item.active {
    border-color: #ffffff !important;
}

:disabled,
.disabled {
    cursor: not-allowed !important;
}